<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>BOOKING</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link  rel="stylesheet" href="css/book.css" />

</head>
	<body style="background-color: rgba(47, 103, 177, 0.6);">
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" href="/" alt="logo" style="width: 50px; height: 50px; border-radius: 50%;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/rooms">Rooms</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                  </li>
                </ul>

                {{#if removedUser}}
                    <ul class="navbar-nav ms-auto">
                          <button class="btn btn-primary" type="button">
                            <img src="images/loginlogo.png" style="width:20px; height:25px; border-radius:100%; margin-right: 10px;" alt="sign up">
                            <a href="/logout" style="width:auto; text-decoration: none; color:white;" aria-current="page"> Logout</a></button>
                    </ul>
                {{else}}
                    <ul class="navbar-nav ms-auto">
                        <button class="btn btn-primary" type="button">
                          <img src="images/loginlogo.png" style="width:20px; height:25px; border-radius:100%; margin-right: 10px;" alt="sign up">
                          <a href="user" style="text-decoration: none; color:white ;">Login</a></button> 
                    </ul>
                {{/if}}
              </div>
            </div>
          </nav>
    </header>
  
    <section>
      {{#each rows}}
      <div class="card mb-3 text-white" style="max-width: 100%; margin:40px; background-color:#3C415C">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/{{this.Imagepath}}.jpg" class="img-fluid rounded-start" style="width:100%" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">{{this.Name}}</h2>
              <h3>{{this.NoOfGuests}} Bedded</h3>
              <h4>Rs.{{this.Price}}/day</h4>
              <br>
              <p class="card-text">{{this.description}}</p>
            </div>
          </div>
        </div>
      </div>
       {{/each}}
      {{!-- <div class="card mb-3 text-white" style="max-width: 100%; margin:40px; background-color:#3C415C">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/room3.jpg" class="img-fluid rounded-start" style="width:100%" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">G-HOSTEL</h2>
              <h3>2 BEDDED</h3>
              <h4>250 per day</h4>
              <br>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum nobis in tempora tenetur labore eius unde repudiandae, illo porro eum nesciunt impedit mollitia ratione ad beatae soluta provident odio nihil, facilis enim laboriosam? Dolor quia voluptas fuga! Eum natus ratione repudiandae, corporis eveniet quidem mollitia molestiae velit labore? Sequi.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 text-white" style="max-width: 100%; margin:40px; background-color:#3C415C">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="images/room3.jpg" class="img-fluid rounded-start" style="width:100%" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">PG-2</h2>
              <h3>2 BEDDED</h3>
              <h4>250 per day</h4>
              <br>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, perferendis. Perspiciatis ipsam animi molestias saepe sed eveniet unde nam, cum, nisi dolore reprehenderit corporis repellat non sequi ad hic at. Doloremque excepturi perspiciatis, error ipsum laudantium, quos non placeat necessitatibus cupiditate odio saepe earum, sed hic sit veritatis illum repellat?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 text-white" style="max-width: 100%; margin:40px; background-color:#3C415C">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="room3.jpg" class="img-fluid rounded-start" style="width:100%" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">SAC</h2>
              <h3>2 BEDDED</h3>
              <h4>250 per day</h4>
              <br>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vitae id, laborum, esse repellendus quos quis aspernatur numquam consequuntur eius tempore enim dolor deserunt officiis! Iste ducimus illo obcaecati odio maxime consequuntur voluptatem maiores ut quibusdam laborum, nisi, in, molestias voluptas assumenda voluptates nihil quas. Odio laboriosam autem illo voluptas!</p>
            </div>
          </div>
        </div>
      </div> --}}
    </section>
</body>
</html>